<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dnnsmnstrr.zettelkasten</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0895EB00-0D0B-4843-8CBE-BDACAF5308D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C05FBDB-CE36-4604-AE1E-5D7BBB8252E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1396EC67-8E9F-41E7-8B51-6337CBB241F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BD521E1-403E-4E79-A9EC-CA2D7C47BAE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FE45F1F0-710A-44B0-AE1C-A6B2969FAEEB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18253103-9A99-44B3-B414-A5F887211EC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DA4C72E-5346-4F2E-9AC1-B716AA845428</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DA4C72E-5346-4F2E-9AC1-B716AA845428</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84EA7B26-2031-45CE-A610-0264CB36D847</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E1161EB-27E0-42C5-8C5B-11FD7BED3B95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F20DABD6-2DA5-469B-AE06-E402D0B5B7E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>270954E5-2F2D-45A3-8FCD-BB4C5992731B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4863ED32-2C17-4E6D-9D6B-215C4EAB5E9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30912D0C-D7AB-4200-B0E1-30911CDA7061</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF02372F-BB78-427B-B19D-5B44A5217C54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3BA70931-8925-4F31-A765-885EE57FA818</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D76EC21A-F305-43CB-81B2-A24A46EA530D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E9061912-C807-4A9C-9C2D-D785F3BED5BF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B679CF41-D969-422A-B2BA-358F5ADD5B3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D65C1447-B7BE-4C83-9EF0-B7CC04F64F99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>54EB7D25-E7AC-4169-9FDA-4B3F60D96A5F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32CA292A-CF8E-431B-9CBB-EF16164AF057</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>955E3AB8-3A45-4193-9419-7FA4BF61FD88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39A1B690-7EA7-41F3-AA8E-A2169F64C08F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C98756A4-CF45-4FA3-973D-92680B4B636F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3BA70931-8925-4F31-A765-885EE57FA818</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C8D67054-EF3F-43F1-9447-C71F7428F2A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0E363942-5613-4CC0-941C-FF46100707C3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0895EB00-0D0B-4843-8CBE-BDACAF5308D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>845CBA9E-FE62-4377-AE69-72ED9B01AFD3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>489E8C63-6B43-4E60-8B70-13ED646E0172</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C05FBDB-CE36-4604-AE1E-5D7BBB8252E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CE2DE5B-D317-4DB1-BF36-A49FB012678F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2B62644-6263-4FFC-8181-021834ACCF3B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in web</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>489E8C63-6B43-4E60-8B70-13ED646E0172</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C05FBDB-CE36-4604-AE1E-5D7BBB8252E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CE2DE5B-D317-4DB1-BF36-A49FB012678F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>955E3AB8-3A45-4193-9419-7FA4BF61FD88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>054297EE-2271-40A9-AB97-6C127A67E4D3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2B62644-6263-4FFC-8181-021834ACCF3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62C60BF1-41B7-4525-BD52-A878D395A3B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8D67054-EF3F-43F1-9447-C71F7428F2A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B1EEDEA-94E6-4A34-8D10-4C1A7C38DA57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81C8D085-91B4-4125-A43F-7DD507BDE5BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA5C5E9C-E11B-40A8-8B23-8478846FE192</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Add tags</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F9ABB73-4096-441F-823B-5FE7AE8E3C70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32CA292A-CF8E-431B-9CBB-EF16164AF057</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81C8D085-91B4-4125-A43F-7DD507BDE5BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32CA292A-CF8E-431B-9CBB-EF16164AF057</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84EA7B26-2031-45CE-A610-0264CB36D847</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A61CEF0B-30D9-4705-BBD1-3B8E2166833F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9ABCBE03-F846-4519-AE3A-97C679E5DC42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C05FBDB-CE36-4604-AE1E-5D7BBB8252E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A61CEF0B-30D9-4705-BBD1-3B8E2166833F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>546A06C7-2FCF-4D0C-B604-CDB7C30F46D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B679CF41-D969-422A-B2BA-358F5ADD5B3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B1EEDEA-94E6-4A34-8D10-4C1A7C38DA57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA5C5E9C-E11B-40A8-8B23-8478846FE192</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F9ABB73-4096-441F-823B-5FE7AE8E3C70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF02372F-BB78-427B-B19D-5B44A5217C54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB94AFEE-2983-4734-B8AE-DF26F0CEC9D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2A12B8E-31FC-4829-A481-A661C477E3A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C05FBDB-CE36-4604-AE1E-5D7BBB8252E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2B62644-6263-4FFC-8181-021834ACCF3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF6B0FE6-3747-4548-9328-2A1C7CA930CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C98756A4-CF45-4FA3-973D-92680B4B636F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB94AFEE-2983-4734-B8AE-DF26F0CEC9D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D65C1447-B7BE-4C83-9EF0-B7CC04F64F99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA5C5E9C-E11B-40A8-8B23-8478846FE192</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D76EC21A-F305-43CB-81B2-A24A46EA530D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81C8D085-91B4-4125-A43F-7DD507BDE5BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F20DABD6-2DA5-469B-AE06-E402D0B5B7E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30912D0C-D7AB-4200-B0E1-30911CDA7061</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>18B9235D-F0D1-462E-B4A8-0B98B47DD7AD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>39A1B690-7EA7-41F3-AA8E-A2169F64C08F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AC23196D-C3B6-403F-8265-7C6EB0761173</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>477B4F3C-5CF8-42F4-A93D-F6037C39BEEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BD5F311F-A6B8-4A8E-AAF8-050C597A184C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7596905C-9B52-4FEE-BC66-F34019107603</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7596905C-9B52-4FEE-BC66-F34019107603</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>62434126-2AB8-4BE5-BD30-87D2CD704DDA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8EE3BE5-AA28-424E-80C9-CC0E80B2D503</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1396EC67-8E9F-41E7-8B51-6337CBB241F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1E1161EB-27E0-42C5-8C5B-11FD7BED3B95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBDD9F69-A8A7-4219-877A-25FD8BB62485</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8EE3BE5-AA28-424E-80C9-CC0E80B2D503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dennis Muensterer</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zettelkasten</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>neuron</string>
						<key>outputlabel</key>
						<string>neuron</string>
						<key>uid</key>
						<string>3BA70931-8925-4F31-A765-885EE57FA818</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>tags</string>
						<key>outputlabel</key>
						<string>tags</string>
						<key>uid</key>
						<string>54EB7D25-E7AC-4169-9FDA-4B3F60D96A5F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>title</string>
						<key>uid</key>
						<string>E9061912-C807-4A9C-9C2D-D785F3BED5BF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>30912D0C-D7AB-4200-B0E1-30911CDA7061</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split2} {var:split3}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BF02372F-BB78-427B-B19D-5B44A5217C54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>neuron {query} -e</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>FB94AFEE-2983-4734-B8AE-DF26F0CEC9D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>3BD521E1-403E-4E79-A9EC-CA2D7C47BAE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Opening slip boxes...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Access zettelkasten functions</string>
				<key>title</key>
				<string>Zettelkasten</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FBDD9F69-A8A7-4219-877A-25FD8BB62485</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:dev}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>debug</string>
						<key>uid</key>
						<string>FE45F1F0-710A-44B0-AE1C-A6B2969FAEEB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1396EC67-8E9F-41E7-8B51-6337CBB241F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>/</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>F8EE3BE5-AA28-424E-80C9-CC0E80B2D503</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1E1161EB-27E0-42C5-8C5B-11FD7BED3B95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D76EC21A-F305-43CB-81B2-A24A46EA530D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>81C8D085-91B4-4125-A43F-7DD507BDE5BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split1}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C98756A4-CF45-4FA3-973D-92680B4B636F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Enter title for new note</string>
				<key>text</key>
				<string>Title</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6B1EEDEA-94E6-4A34-8D10-4C1A7C38DA57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B679CF41-D969-422A-B2BA-358F5ADD5B3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:ZETTEL_DIR}/{var:title.lowercase.trim.stripdiacritics}.md</string>
				<key>filetext</key>
				<string>---
date: {date:yyyy-MM-dd}
tags:
{query}
---

# {var:title.capitals}

</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>32CA292A-CF8E-431B-9CBB-EF16164AF057</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split3}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D65C1447-B7BE-4C83-9EF0-B7CC04F64F99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>neuron</string>
						<key>outputlabel</key>
						<string>neuron</string>
						<key>uid</key>
						<string>3BA70931-8925-4F31-A765-885EE57FA818</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>atom</string>
						<key>outputlabel</key>
						<string>atom</string>
						<key>uid</key>
						<string>0E363942-5613-4CC0-941C-FF46100707C3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>web</string>
						<key>outputlabel</key>
						<string>web</string>
						<key>uid</key>
						<string>845CBA9E-FE62-4377-AE69-72ED9B01AFD3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>39A1B690-7EA7-41F3-AA8E-A2169F64C08F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>atom://atom-notes/toggle</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C8D67054-EF3F-43F1-9447-C71F7428F2A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split4}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BA5C5E9C-E11B-40A8-8B23-8478846FE192</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>62C60BF1-41B7-4525-BD52-A878D395A3B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tags</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/tags.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter tags</string>
				<key>title</key>
				<string>Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F9ABB73-4096-441F-823B-5FE7AE8E3C70</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>new</string>
						<key>outputlabel</key>
						<string>new</string>
						<key>uid</key>
						<string>18B9235D-F0D1-462E-B4A8-0B98B47DD7AD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search</string>
						<key>outputlabel</key>
						<string>search</string>
						<key>uid</key>
						<string>AC23196D-C3B6-403F-8265-7C6EB0761173</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>atom</string>
						<key>outputlabel</key>
						<string>atom</string>
						<key>uid</key>
						<string>BD5F311F-A6B8-4A8E-AAF8-050C597A184C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>http</string>
						<key>outputlabel</key>
						<string>web</string>
						<key>uid</key>
						<string>62434126-2AB8-4BE5-BD30-87D2CD704DDA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F20DABD6-2DA5-469B-AE06-E402D0B5B7E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -na Atom /Users/dennismuensterer/zettelkasten</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>477B4F3C-5CF8-42F4-A93D-F6037C39BEEE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7596905C-9B52-4FEE-BC66-F34019107603</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split3}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0895EB00-0D0B-4843-8CBE-BDACAF5308D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>489E8C63-6B43-4E60-8B70-13ED646E0172</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search Zettelkasten for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>C2A12B8E-31FC-4829-A481-A661C477E3A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>zk</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/zettelkasten/notes</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter query to search local notes</string>
				<key>title</key>
				<string>Search zettelkasten</string>
				<key>types</key>
				<array>
					<string>net.daringfireball.markdown</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>3C05FBDB-CE36-4604-AE1E-5D7BBB8252E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>web</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>054297EE-2271-40A9-AB97-6C127A67E4D3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>web</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4CE2DE5B-D317-4DB1-BF36-A49FB012678F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>955E3AB8-3A45-4193-9419-7FA4BF61FD88</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n $(basename "${query%.*}")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2B62644-6263-4FFC-8181-021834ACCF3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:BASE_URL}/zettelkasten/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AF6B0FE6-3747-4548-9328-2A1C7CA930CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9ABCBE03-F846-4519-AE3A-97C679E5DC42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>---
date: {date:yyyy-MM-dd}
ztl{cursor}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4863ED32-2C17-4E6D-9D6B-215C4EAB5E9E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>com.github.atom</string>
				<key>keyword</key>
				<string>nrn</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>270954E5-2F2D-45A3-8FCD-BB4C5992731B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>com.github.atom</string>
				<key>keyword</key>
				<string>ztl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>18253103-9A99-44B3-B414-A5F887211EC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/tags.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter tags</string>
				<key>title</key>
				<string>Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A61CEF0B-30D9-4705-BBD1-3B8E2166833F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Enter title for new note</string>
				<key>text</key>
				<string>Title</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1DA4C72E-5346-4F2E-9AC1-B716AA845428</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>---
date: {date:yyyy-MM-dd}
tags:
{query}
---

# {var:title.capitalcase}

{cursor}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>546A06C7-2FCF-4D0C-B604-CDB7C30F46D6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>84EA7B26-2031-45CE-A610-0264CB36D847</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0895EB00-0D0B-4843-8CBE-BDACAF5308D4</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>1396EC67-8E9F-41E7-8B51-6337CBB241F1</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>18253103-9A99-44B3-B414-A5F887211EC3</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>1DA4C72E-5346-4F2E-9AC1-B716AA845428</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>1E1161EB-27E0-42C5-8C5B-11FD7BED3B95</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>strip query</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>270954E5-2F2D-45A3-8FCD-BB4C5992731B</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>30912D0C-D7AB-4200-B0E1-30911CDA7061</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>32CA292A-CF8E-431B-9CBB-EF16164AF057</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>39A1B690-7EA7-41F3-AA8E-A2169F64C08F</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>3BD521E1-403E-4E79-A9EC-CA2D7C47BAE1</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3C05FBDB-CE36-4604-AE1E-5D7BBB8252E5</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>477B4F3C-5CF8-42F4-A93D-F6037C39BEEE</key>
		<dict>
			<key>note</key>
			<string>open in atom</string>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>4863ED32-2C17-4E6D-9D6B-215C4EAB5E9E</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>489E8C63-6B43-4E60-8B70-13ED646E0172</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>4CE2DE5B-D317-4DB1-BF36-A49FB012678F</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>546A06C7-2FCF-4D0C-B604-CDB7C30F46D6</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>62C60BF1-41B7-4525-BD52-A878D395A3B0</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>6B1EEDEA-94E6-4A34-8D10-4C1A7C38DA57</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>6F9ABB73-4096-441F-823B-5FE7AE8E3C70</key>
		<dict>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>7596905C-9B52-4FEE-BC66-F34019107603</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>81C8D085-91B4-4125-A43F-7DD507BDE5BD</key>
		<dict>
			<key>note</key>
			<string>set title</string>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>84EA7B26-2031-45CE-A610-0264CB36D847</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>955E3AB8-3A45-4193-9419-7FA4BF61FD88</key>
		<dict>
			<key>xpos</key>
			<integer>1045</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>9ABCBE03-F846-4519-AE3A-97C679E5DC42</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>A61CEF0B-30D9-4705-BBD1-3B8E2166833F</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>AF6B0FE6-3747-4548-9328-2A1C7CA930CE</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>B679CF41-D969-422A-B2BA-358F5ADD5B3A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>strip query</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>BA5C5E9C-E11B-40A8-8B23-8478846FE192</key>
		<dict>
			<key>note</key>
			<string>set title and strip query</string>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>BF02372F-BB78-427B-B19D-5B44A5217C54</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>add title</string>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C2A12B8E-31FC-4829-A481-A661C477E3A9</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>C2B62644-6263-4FFC-8181-021834ACCF3B</key>
		<dict>
			<key>note</key>
			<string>strip file ending</string>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>C8D67054-EF3F-43F1-9447-C71F7428F2A7</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>C98756A4-CF45-4FA3-973D-92680B4B636F</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>D65C1447-B7BE-4C83-9EF0-B7CC04F64F99</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>D76EC21A-F305-43CB-81B2-A24A46EA530D</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>F20DABD6-2DA5-469B-AE06-E402D0B5B7E3</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>F8EE3BE5-AA28-424E-80C9-CC0E80B2D503</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>split args</string>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>FB94AFEE-2983-4734-B8AE-DF26F0CEC9D9</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>FBDD9F69-A8A7-4219-877A-25FD8BB62485</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>BASE_URL</key>
		<string>https://dnnsmnstrr.github.io</string>
		<key>DEPLOYMENT_PATH</key>
		<string>dnnsmnstrr/zettelkasten</string>
		<key>ZETTEL_DIR</key>
		<string>~/zettelkasten/notes</string>
		<key>dev</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>dev</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://muensterer.xyz/zettelkasten</string>
</dict>
</plist>
